.progress
  .progress-bar.progress-bar-success{ role: "progressbar", aria: { valuenow: list.percent_done, valuemin: 0, valuemax: 100 }, style: "width: #{list.percent_done}%" }
    = "#{list.percent_done}% Complete"
